@import "~variables.scss";

header {
  background: $brand-primary;
  color: #fff;

  height: 50px;
  line-height: 50px;
}

h1 {
  margin: 0;
  padding: .75em 0;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4em;
  display: inline-block;
}

.logged-in-user {
  display: inline-block;
  float: right;
  font-size: 14px;

  a {
    color: white;
  }
}
